[mysqld]
# ---configurazione di base ---
# NOTA: Aggiorneremo questi percorsi quando sposteremo tutto
user = nix-app-user 
datadir = /srv/nix-app/db-data 

# --- REQUISITI ---
bind-address = 127.0.0.1
ssl = 0
character-set-server = utf8mb4
collation-server = utf8mb4_unicode_ci
# --- Impostazione per la riproducibilità ---
# Diciamo a MariaDB di mettere i dati in una sottocartella locale
datadir = ./db-data
