[mysqld]
# --- A UN PERCORSO ASSOLUTO ---
datadir = /home/diego/nix-prova/db-data

# --- MODIFICA CHIAVE QUI ---
# 'skip-unix-socket' non ha funzionato.
# Invece, gli diciamo di mettere il file socket QUI,
# in una cartella dove abbiamo i permessi.
socket = /home/diego/nix-prova/db-data/mysql.sock

# --- REQUISITI ---
bind-address = 127.0.0.1
ssl = 0
character-set-server = utf8mb4
collation-server = utf8mb4_unicode_ci[mysqld]
# --- USA UN PERCORSO ASSOLUTO ---
datadir = /home/diego/nix-prova/db-data

# --- MODIFICA CHIAVE QUI ---
# 'skip-unix-socket' non ha funzionato.
# Invece, gli diciamo di mettere il file socket QUI,
# in una cartella dove abbiamo i permessi.
socket = /home/diego/nix-prova/db-data/mysql.sock

# --- REQUISITI ---
bind-address = 127.0.0.1
ssl = 0
character-set-server = utf8mb4
collation-server = utf8mb4_unicode_ci
