[mysqld]
# --- USA UN PERCORSO ASSOLUTO ---
# Foreman parte da /home/diego/nix-prova, quindi questo percorso è corretto
datadir = /home/diego/nix-prova/db-data

# --- REQUISITI ---
bind-address = 127.0.0.1
ssl = 0
character-set-server = utf8mb4
collation-server = utf8mb4_unicode_ci
